
.scroll thead, .scroll tbody, .scroll tr, .scroll td, .scroll th {
  display: block; }

.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scroll tbody {
    height: 400px;
    overflow-y: auto;
}


.scroll tbody td, .scroll thead th {
    width: 50%;
    float: left;
}

.btn-group {
  width: 100%;
}

.dengue-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.web-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.web-footer p:last-child {
  margin-bottom: 0;
}
