{% extends 'base.html' %}
{% block head_extra %}
<title>CMS - About</title>
{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h1>Crisis Management System</h1>
        <p>Crisis Management System (CMS) allows seamless collaboration between government agencies in times of emergency. The Prime Minister, cabinet ministers and government agency key decision makers shall monitor the crisis situation through the CMS.</p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First Issue: <span class="text-muted">Dengue Outbreak</span></h2>
          <p class="lead">Dengue Fever and Dengue Haemorrhagic Fever (a more severe form) are the most common mosquito-borne viral diseases in the world. We are monitoring and responding to the outbreak of dengue happening in Singapore in real time.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Second Issue: <span class="text-muted">Haze</span></h2>
          <p class="lead">Introduction 2.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Third Issue: <span class="text-muted">Terrorist Activities</span></h2>
          <p class="lead">Introduction 3.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="" alt="Generic placeholder image">
        </div>
      </div>
 <hr>

      <!-- /END THE FEATURETTES -->
{% endblock %}
