{% extends 'base.html' %}
{% block head_extra %}
<title>CMS - About</title>
{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h1>Crisis Management System</h1>
        <p>...</p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First feature. <span class="text-muted">First.</span></h2>
          <p class="lead">Introduction 1.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Second feature. <span class="text-muted">Second.</span></h2>
          <p class="lead">Introduction 2.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Third feature. <span class="text-muted">Third.</span></h2>
          <p class="lead">Introduction 3.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="" alt="Generic placeholder image">
        </div>
      </div>
 <hr>

      <!-- /END THE FEATURETTES -->
{% endblock %}
