{% extends 'base.html' %}

{% block head_extra %}
{% endblock %}

{% block content %}
    <h3>Reports</h3>
      <!-- {% if reports %} {% for report in reports %}
      <div class="row">
        <div class ="col-md-4">
            {{ report.name }}
        </div>
        <div class ="col-md-4">
            {{ report.location }}
        </div>
        <div class ="col-md-4">
            {{ report.type_of_crisis }}
        </div>
      </div>{% endfor %}
      {% else %}
      <div class = "row">
        <p>No Reports Available</p>
      </div>
      {% endif %} -->

    <div id="AJAXreports"></div>


    <h3>Declare Crisis</h3>
      <form class="form-vertical" role = "form">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="{% static "js/AJAX-reports.js" %}"></script>
{% endblock %}
