{% extends 'base.html' %}

{% block head_extra %}
<title>CMS - Dashboard</title>
{% endblock %}

{% block content %}
    <h3>Reports</h3>
      <!-- {% if reports %} {% for report in reports %}
      <div class="row">
        <div class ="col-md-4">
            {{ report.name }}
        </div>
        <div class ="col-md-4">
            {{ report.location }}
        </div>
        <div class ="col-md-4">
            {{ report.type_of_crisis }}
        </div>
      </div>{% endfor %}
      {% else %}
      <div class = "row">
        <p>No Reports Available</p>
      </div>
      {% endif %} -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th class ='col-md-2'>NAME</th>
                <th class ='col-md-2'>LOCATION</th>
                <th class ='col-md-3'>DESCRIPTION</th>
                <th class ='col-md-3'>TYPE OF ASSITANCE</th>
                <th class ='col-md-2'>TYPE OF CRISIS</th>
              </tr>
            </thead>
            <tbody id='AJAXcontent'></tbody>
      </table>

    


    <hr>

    <h3>Declare Crisis</h3>
      <form class="form-horizontal" role = "form" style="margin-top:40px">
        {% csrf_token %}
<!--         {{ form }} -->
        <div class = "form-group">
          <label for="inputTypeofCrisis" class="control-label col-sm-2">Type of Crisis: </label>
          <div class="col-sm-2">
            <select class="form-control" type="text" name="type_of_crisis" id="typepfcrisis">
              <option value="" selected="selected"> --------- </option>
              {% for report in form.type_of_crisis.field.queryset %}
                <option value="{{report.id}}">
                  {{report.type_of_crisis}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class = "form-group">
          <label for="inputDescription" class="control-label col-sm-2">Description: </label>
          <div class="col-sm-6">
            <textarea type="text" name="description" rows="5"id="description" class="form-control" placeholder="Please discribe the crisis in detail" required></textarea>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
        </div>
      </form>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="{% static "js/AJAX-reports.js" %}"></script>
{% endblock %}
