{% extends 'base.html' %}

{% block head_extra %}
<title xmlns="http://www.w3.org/1999/html">CMS - Dashboard</title>
{% endblock %}

{% block content %}

    <div>
        <h3>Active Crisis</h3>
        <hr>

        <table class="table table-striped">
      <thead>
        <tr>
          <th class ='col-md-2'>TYPE OF CRISIS</th>
          <th class ='col-md-3'>DESCRIPTION</th>
          <th class ='col-md-3'>TIME</th>
          </tr>
        </thead>
        <tbody id='DecisionsContent'></tbody>
      </table>

      </div>

    <h3 style="margin-top: 50px">Declare Crisis</h3>
    <hr>

    {% if messages %}
          {% for message in messages %}
            {% if message.tags == "success" %}
              <div id="fastfade" class="alert alert-success">
                <strong>Success!</strong> Form is submitted.
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      <form class="form-horizontal" role = "form" style="margin-top:30px" action="/dashboard/" method="post">
        {% csrf_token %}
<!--         {{ form }} -->
<!--         {{ form2 }}           -->
        <div class = "form-group">
          <label for="inputTypeofCrisis" class="control-label col-sm-2">Type of Crisis: </label>
          <div class="col-sm-2">
            <select class="form-control" type="text" name="type_of_crisis" id="typepfcrisis">
              <option value="" selected="selected"> --------- </option>
              {% for report in form.type_of_crisis.field.queryset %}
                <option value="{{report.id}}">
                  {{report.type_of_crisis}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class = "form-group">
          <label for="inputDescription" class="control-label col-sm-2">Description: </label>
          <div class="col-sm-6">
            <textarea type="text" name="description" rows="5"id="description" class="form-control" placeholder="Please discribe the crisis in detail" required></textarea>
          </div>
        </div>
        <div class="form-group">
            <label for="inputAgency" class="control-label col-sm-2">Agencies to Notify:</label>

                {% if agencies %} {% for notif in agencies %}
                <input type="checkbox" name="agency" id="{{ notif.agency }}" value="{{ notif.agency }}">
                    {{ notif.agency }}
                    </input><br>
                {% endfor %}
                {% else %}

        {% endif %}

        </div>
        <div class = "row">
             <p>No Reports Available</p>
            </div>
        <div class="col-sm-2 col-sm-offset-2">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
        </div>
      </form>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="{% static "js/report_update.js" %}"></script>
<script src="{% static "js/crisis_update.js" %}"></script>
<script src="{% static "js/timeout.js" %}"></script>
{% endblock %}
