{% extends 'base.html' %}
{% block head_extra %}
    <title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">CMS - Notification</title>
    <script type="text/javascript">
        function validateForm() {
            var twitter = document.getElementById("twitter").value;
            var description = document.getElementById("description").value;
            //console.log("TEST");
            if (twitter == "twitter"){
                if(description.length >=120){
                    alert("Max allowed length for twitter is 140 characters. Your description exceeds 140 characters.");
                    //console.log("in twitter");
                    return false;
                }
            }
            return true;
        }
    </script>
{% endblock %}

{% block content %}
    <form class="form-horizontal" name="notifform" role="form" onsubmit="return validateForm();" action="/notification/" method="post">
        {% csrf_token %}
        <h2>Notification</h2>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success_submission" %}
                    <div id="fastfade" class="alert alert-success">
                        <strong>Success!</strong> Form is submitted.
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Decision -->
        <div class = "form-group">
            <label for="inputDescision" class="control-label col-sm-2">Decision: </label>
            <div class="col-sm-4">
                <select class="form-control" type="text" name="decision" id="decision">
                    <option value="" selected="selected">---------</option>
                    {% for notification in form.decision.field.queryset %}
                        <option value="{{notification.id}}">
                            {{notification.type_of_crisis}} - {{ notification.date_time }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Description -->
        <div class = "form-group">
            <label for="inputDescription" class="control-label col-sm-2">Description: </label>
            <div class="col-sm-8">
                <textarea rows="10" type="text" name="description" id="description" class="form-control" placeholder="Please describe the notification in detail" required></textarea>
            </div>
        </div>

        <!-- Agency -->
        <div class = "form-group">
            <label class="control-label col-sm-2">Notify: </label>
            <div class="col-sm-4">
                    <input type="checkbox" name="facebook" id="facebook" value="facebook">
                    <b>&ensp;Facebook&ensp;</b>
                    </input>
                    <br>
                    <input type="checkbox" name="twitter" id="twitter" value="twitter">
                    <b>&ensp;Twitter&ensp;</b>
                    </input>
                    <br>
                    <input type="checkbox" name="pmo" id="pmo" value="pmo">
                    <b>&ensp;Prime Minister's Office&ensp;</b>
                    </input>
                    <br>
            </div>
            <div id="agencies" style="display: block">
                <label class="control-label col-sm-2">Agencies: </label>
                <div class="col-sm-4">
                    {% for notification in agencies %}
                        <input type="checkbox" name="agency" id="agency" value="{{ notification.name }}">
                        <b>{{ notification.name }}</b>
                        </input>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>

    </form>
{% endblock %}



{% block js %}
    {% load staticfiles %}
    <script src="{% static "js/timeout.js" %}"></script>
{% endblock %}
