{% extends 'base.html' %}
{% block head_extra %}
    <title>CMS - Process Reports</title>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    {% load staticfiles %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th class ='col-md-2'>NAME</th>
          <th class ='col-md-2'>LOCATION</th>
          <th class ='col-md-3'>DESCRIPTION</th>
          <th class ='col-md-3'>TYPE OF ASSISTANCE</th>
          <th class ='col-md-1'>TYPE OF CRISIS</th>
          <th class ='col-md-1'>DISMISS</th>
          </tr>
        </thead>
        <tbody id='ReportContent'></tbody>
      </table>
    </div>
 {% endblock %}

{% block js %}
{% load staticfiles %}
    <script src="{% static "js/report_update.js" %}"></script>
    <script src="{% static "js/report_dismiss.js" %}"></script>
{% endblock %}
