{% extends 'base.html' %}
{% block head_extra %}
    <title>CMS - Process Reports</title>
{% endblock %}

{% block content %}

<div class="row">
  <h3 class="col-md-9">Reports</h3>
  <div style="margin-top:20px">
    <div class="col-md-1">
  <h4>Filter:</h4>
</div>
<div class="col-md-2">
  <select id="type-filter" class="form-control" onchange="changeType()">
    <option value="">All</option>
    {% for crisis in type_of_crisis %}
      <option value="{{ crisis.type_of_crisis }}">{{ crisis.type_of_crisis }}</option>
    {% endfor %}
  </select>
</div>
</div>
</div>
  <hr>
  <div id = "new-notification">
  </div>
  <div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th class ='col-md-1'>NAME</th>
          <th class ='col-md-2'>LOCATION</th>
          <th class ='col-md-3'>DESCRIPTION</th>
          <th class ='col-md-2'>TYPE OF ASSISTANCE</th>
          <th class ='col-md-2'>TYPE OF CRISIS</th>
          <th class ='col-md-1'>CONFIRM</th>
          <th class ='col-md-1'>DISMISS</th>
          </tr>
        </thead>
        <tbody id='ReportContent'></tbody>
      </table>
      <ul class="pager">
        <li id='prepage'class="disabled" onclick="prePage()"><a>Previous</a></li>
        <li id='nextpage' class="active" onclick="nextPage()"><a>Next</a></li>
      </ul>
    </div>

    <style>
      th {
        text-align: center;
      }
    </style>
 {% endblock %}

{% block js %}
{% load staticfiles %}
    <script src="{% static "js/cookie.js" %}"></script>
    <script src="{% static "js/url.js" %}"></script>
    <script src="{% static "js/report_update.js" %}"></script>
{% endblock %}
