{% extends 'base.html' %}
{% block head_extra %}
    <title>CMS - Report</title>
{% endblock %}

{% block content %}
      <form class="form-horizontal" role = "form" action="/report/" method="post">
        {% csrf_token %}
        <h2>Crisis Report Form</h2>

        {% if messages %}
          {% for message in messages %}
            {% if message.tags == "success_submission" %}
              <div id="fastfade" class="alert alert-success">
                <strong>Success!</strong> Form is submitted.
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        <!-- name -->
        <div class = "form-group">
          <label for="inputName" class="control-label col-sm-2">Reporter Name: </label>
          <div class="col-sm-4">
            <input type="text" name="name" id="name" class="form-control" placeholder="Reporter Name" required autofocus>
          </div>
        </div>

        <!-- mobile number -->
        <div class = "form-group">
          <label for="inputMobileNumber" class="control-label col-sm-2">Mobile Number: </label>
          <div class="col-sm-4">
            <input type="text" name="mobile_number" id="mobilenumber" class="form-control" placeholder="Mobile Number" required>
          </div>
        </div>

        <!-- location -->
        <div class = "form-group">
          <label for="inputLocation" class="control-label col-sm-2">Location: </label>
          <div class="col-sm-8">
            <textarea rows = "6" type="text" name="location" id="location" class="form-control" placeholder="Location" required></textarea>
          </div>
        </div>

        <!-- Description -->
        <div class = "form-group">
          <label for="inputDescription" class="control-label col-sm-2">Description: </label>
          <div class="col-sm-8">
            <textarea rows = "6" type="text" name="description" id="description" class="form-control" placeholder="Please discribe the crisis in detail" required></textarea>
          </div>
        </div>

        <!-- Type of crisis -->
        <div class = "form-group">
          <label for="inputTypeofCrisis" class="control-label col-sm-2">Type of Crisis: </label>
          <div class="col-sm-8">
            <select class="form-control" type="text" name="type_of_crisis" id="typepfcrisis">
              <option value="" selected="selected">---------</option>
              {% for report in form.type_of_crisis.field.queryset %}
                <option value="{{report.id}}">
                  {{report.type_of_crisis}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Type of assistance -->
        <div class = "form-group">
          <label for="inputTypeofAssistance" class="control-label col-sm-2">Type of Assistance: </label>
          <div class="col-sm-8">
              {{ form.type_of_assistance }}
          </div>
        </div>

        <div class="col-lg-3">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
      </form>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
{% endblock %}

{% block js %}
{% load staticfiles %}
    <script src="{% static "js/timeout.js" %}"></script>
{% endblock %}
