<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resource Form</title>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    {% load staticfiles %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-horizantol" role = "form" action="/resource/" method="post">
        {% csrf_token %}
        <h2>Request Resource</h2>
        
        <!-- Type of crisis -->
        <div class = "form-group">
          <label for="inputTypeofCrisis" class="control-label col-sm-2">Type of Crisis: </label>
          <div class="col-sm-8"> 
            <select class="form-control" type="text" name="crisis" id="crisis">
              <option value="" selected="selected">---------</option> 
              {% for report in form.crisis.field.queryset %}
                <option value="{{report.id}}">
                  {{report}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Resource -->
        <div class = "form-group">
          <label for="inputResource" class="control-label col-sm-2">Resource: </label>
          <div class="col-sm-8"> 
            <textarea type="text" name="resource" id="resource" class="form-control" placeholder="Resouces needed" required></textarea>
          </div>
        </div>

        <!-- Description -->
        <div class = "form-group">
          <label for="inputDescription" class="control-label col-sm-2">Description: </label>
          <div class="col-sm-8"> 
            <textarea type="text" name="description" id="description" class="form-control" placeholder="Please discribe the crisis in detail" required></textarea> 
          </div>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
