{% extends 'base.html' %}
{% block head-extra%}
    <title>CMS - Resource Form</title>
{% endblock %}

{% block content %}
      <form class="form-signin" action="/login/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Request Resource</h2>
        {{ form }}
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

{% endblock %}
